@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
body {
    
    height: 100vh;
    font-family: 'IM Fell English SC', serif;
    background-color: black;
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-image: url("https://images7.alphacoders.com/334/thumb-1920-334208.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    position: relative;
    text-align: center;
    color: white;
    font-size: 70px;
    margin: 0;
    padding: 0;
    
}
h2 {
    position: relative;
    padding-top: 11%;
    text-align: center;
    color: white;
    font-size: 40px;
}
.button {
    background: #6c16168f;
    display: flex;
    width: 50%;
    margin-left: 25%;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 25px;
    text-decoration: none;
    
    
} 
.button:hover{
    cursor: pointer;
    background: #8ae93c88;
}


